<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wangfeng.test">

    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.RequestActivity">
        </activity>
        <activity
            android:name=".Activity.DesignActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SnackbarActivity">
        </activity>
        <activity
            android:name=".Activity.CollActivity"
            android:parentActivityName=".Activity.RequestActivity">
        </activity>
        <activity android:name=".Activity.FitstActivity">
        </activity>
        <activity android:name=".Activity.BesselActivity">
        </activity>
        <activity android:name=".Activity.MoreListActivity">
        </activity>
        <activity android:name=".Activity.ImageActivity">
        </activity>
    </application>

</manifest>